.header {
    grid-area: header;
    height: 80px;
    background-color: darkred;
    display: grid;
    align-items: center;
    justify-content: end;
}

.nav {
    padding: 30px;
}

a {
    color: white;
    text-decoration: none;
    padding: 30px;
}
