.skill {
    width: 220px;
    height: 180px;
    background-color: #b92150;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    margin-top: 20px;
    margin-bottom: -5px;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}
