.skills {
    grid-area: skills;
    background-color: #a1b932;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.skillsItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}