.mainBlock {
    height: 100vh;
    /*view height - видимая высота экрана*/
}

.welcomeText {
    width: 300px;
    background-color: #969cb9;
}

.welcomePhoto {
    width: 300px;
    height: 400px;
    background-color: #8fb990;
}

