.mainGrid {
    display: grid;
    grid-template-areas:
            "header"
            "welcome"
            "skills"
            "works"
            "hireMe"
            "contact"
            "footer";
    margin: 0 auto;
    background-color: #b94e82;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}