.welcome {
    grid-area: welcome;
    background-color: goldenrod;
    display: flex;
    justify-content: space-evenly;
}

.welcomeText {
    width: 300px;
    background-color: #969cb9;
}

.welcomeText span, h1, p {
    position: relative;
    top: 18%;
}

.welcomePhoto {
    width: 300px;
    height: 350px;
    background-color: #8fb990;
}

