.welcome {
    height: 100vh;
    grid-area: welcome;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcomeText {
    width: 300px;
    background-color: #969cb9;
}

.welcomeText {
    margin: 20px;
}

.welcomePhoto {
    width: 300px;
    height: 350px;
    background-color: #8fb990;
    margin: 20px;
}

